.container {
  overflow-y: scroll;
  flex: 1;
}
ul {
  list-style: none;
}
li {
  margin-top: 13;
  margin-bottom: 13;
}
.senderUsername {
  font-weight: bold;
}
.message { font-size: 15 }